<div class="module">
  <div class="modal-body">
    <div class="row">
      <div *ngFor="let domain of applications" class="col-md-4">
        <div class="jumbotron">
          <h1 class="text-center"><span [ngClass]="domain.icon"></span> {{domain.name}}</h1>
          <br>
          <p>{{domain.description}}</p>
          <br>
          <span *ngFor="let item of domain.items">
            <button [disabled]="!hasPermission(domain.client, item.role)" class="btn btn-success" (click)="openWindow(item.url)"><span [ngClass]="item.icon"></span> {{item.name}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
